<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
     <script src="https://unpkg.com/html5-qrcode"></script>
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding: 0;
      }
      
      .navbar {
        width: 100%;
        padding: 0;
        margin: 0;
      }
      
      .navbar-brand {
        padding: 1rem !important;
      }
      
      main {
        flex: 1;
      }
      
      footer {
        width: 100%;
        margin-top: auto;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand m-0" href="http://127.0.0.1:8000/ "
          >WELCOME TO STJIT</a
        >
        <form class="d-flex gap-2 align-items-center">
          <div class="d-flex gap-2">{%block btn%}{%endblock btn%}</div>
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    {% block start %} {% endblock start %}
    <footer class="text-center bg-dark text-light">
    
      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        “Learn today, lead tomorrow.”
        
      </div>
      <!-- Copyright -->
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
